.background {
	height: 1157px;
	background-color: rgb(50,63,82);
}
.boarder {
	height: 50px;
	background-color: rgb(17,139,192);
}
.text {
	text-align: center;
	font-family: Verdana;
	font-size: 30px;
	color: white;
	padding-top: 165px;
}
.button {
	height: 53px;
	background-color: rgb(17,139,192);
	border: 10px solid rgb(31,40,52);
	margin: 0 auto;
	margin-top: 30px;
	margin-left: 120px;
	margin-right: 120px;
}
.whiteBox {
	background-color: white;
	height: 67px;
	margin-right: 78px;
	margin-left: 78px;
	
}
.veryLightBlueBox {
	height: 190px;
	background-color: rgb(232,240,245);
}
.nextBackground {
	height: 1475px;
	background-color: rgb(209,211,215);
}
.otherWhiteBox {
	height: 215px;
	background-color: white;
	margin: 20px 15px 20px 15px;
}
.blackBox {
	height: 170px;
	background-color: black;
}
.lightBlue {
	height: 53px;
	background-color: rgb(17,139,192);
	margin-top: 100px;
	margin-right: 125px;
	margin-left: 125px;
}
span {
	margin-right: 20px;
}